body {
    font-family: 'Open Sans', sans-serif;
}

.design-sec {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
}

.intro {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    line-height: normal;
    padding: 50px 500px 0px 200px;
}

.intro-description {
    padding: 0px 550px 0px 200px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    display: flex;
    margin-left: 200px;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 30px;
    border: 0px;
    margin-bottom: 15px;
}

.design-sec .intro-img {
    padding-right: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
    
}

.feature-flower {
    margin-top: 130px;
}

.bold {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.bold-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.pink>a {
    color: red;
}

.feature-flower .pink {
    text-align: center;
}

.pink-flower-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.pink-flower-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.pink-flower-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.delivery {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 200px;
    height: 320px;

}

.collect {
    display: flex;
    justify-content: space-between;

}

.collect .photo-img-1 {
    padding-left: 200px;
    padding-top: 86px;
}

.collect .photo-img-2 {
    padding-top: 86px;
}

.collect .photo-img-3 {
    padding-right: 200px;
    padding-top: 86px;
}

.description {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.description .description-1 {
    padding-left: 100px;
}

.description .description-2 {
    padding-right: 100px;
}

.description .description-3 {
    padding-right: 150px;
}

.hot-deal {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    margin-top: 130px;
}

.hot-deal .title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 230px 0px 0px 423px;
}

.hot-deal .title-descrip {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 393px;
}

.hot-deal .btn-primary {
    margin-left: 703px;
}

.hot-deal .img-for-deal {
    padding-top: 150px;
    padding-left: 300px;
}

.instagram {
    margin-top: 130px;

}

.instagram-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.pictures {
    margin-top: 60px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;

}

.pictures .img-1 {
    padding-right: 150px;
}

.pictures .img-2 {
    padding-right: 150px;
}

.pictures .img-3 {
    padding-right: 150px;
}

.pictures .img-4 {
    /* padding-left: 350px; */
}

.background {
    margin-top: 130px;
}

.background-img {
    border-radius: 8px;
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    width: 1440px;
    height: 449px;
    background-repeat: no-repeat;
    margin-left: 400px;
    padding-top: 100px;

}

.background-img .deals {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0px;
}

.background-img .deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.background-img .eml-btn {
    display: block;
    margin-top: 40px;
}

.background-img .email {
    width: 700px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-left: 360px;

}

.background-img .btn-primary {
    height: 40px;
    padding: 15px 15px;
    margin-left: 700px;
    margin-top: 40px;
}

footer .shop {
    margin-top: 0px;
    height: 400px;
    background: #111010;
    color: rgba(255, 255, 255, 0.90);
    padding-top: 100px;
    padding-bottom: 100px;
}

.flower-shop .shop-title {
    font-size: 48px;
    font-weight: 800px;
    text-align: center;

}

.shop-title .text-primary {
    color: #E55473;
}

.flower-shop .shop-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;

}

.shop .shop-details {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
}